.box{
    width: 1244px;
    background: #eee;
    margin: 0 auto;
}
img{
    width: 100%;
    height: 100%;
}
.head li,.bodyBox li{
    float: left;
    width: 236px;
    height: 400px;
    margin: 0 16px 16px 0;  
}
.head li:last-child,.bodyBox li:last-child{
    margin-right: 0;
}
