@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572772351658'); /* IE9 */
  src: url('iconfont.eot?t=1572772351658#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABjwAAAI7AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApEXAE2AiQDCAsGAAQgBYRtBzIbhAXInho7M7AlDaeAFVMzQYAJ8fD92u/c3bffFEiqiSGKZtFkkkiFBLEwlExIWgJXc3kFILczb59do0qk0Ab3Er7M3pYUoWVhWakK2arayhazNkzkWhe1u+QT907/CiiQ+YBy3IvGmjSpC6iLAynAsRZFVkIZN4xd4BKOE6gZVdSwt7C2Kdol1rhAPIe+LdpzXkliiYpQqlmaxBuFSvYivIbfjz8r0U6myFklh0/znpj6GrFTdtSRC5/AR0CrC+RYJiTitDa6r0kwdpNatNkksa/C4GukfIvYq1Gwv87Kb4BhKLonsTtWgAxuq6suYWjU1URXy4fj19sRvD8a9u5uXo7H8sNC4XpicOLZmAzcV4bxlNqvxRb+WfZugeDlddsz+9b+K10JfP6+0JD0s1PZgy34E+KeDUmXWuYsqeLa1kz3DGU1NfzDzp6fsVWnTYaKwRH2spEUuYppMrGWUahbRUnFJmqWLK6u6yNNIlWx6BwgdHwi0/KBXMcXmVjfKAz5Q0knmlBzHv0t62Yj7NwltBk9cA4gdFUmHSt3RoXr6O8kNmWlIWcbSYcBqJWrxcQiZkhzzNC7fp1ZgiSVwgI4DZNEQU4qQpfLAXNuVCqy7k1lV6Wi0y6CbAx5gOMACLmUjPTbs87S59ch346EjVrqasLbENHC3kFNWbUHuajKetXdyyvaLl8dYxKQiJICC2AQSiQUkNcPiiAXKwtGhHOGit1M9lWV19ekX7cDaix9Fnb/XOWWSO2VdCIEAAAA') format('woff2'),
  url('iconfont.woff?t=1572772351658') format('woff'),
  url('iconfont.ttf?t=1572772351658') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572772351658#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-sl:before {
  content: "\e715";
}

