/* 主要内容区域 */
.mainBox {
  width: 1170px;
  height: 470px;
  margin: 0 auto;
  z-index: 666;
  position: absolute;
  top: 350px;
  left: 93px;
}
.mainBox .left {
  width: 190px;
  height: 470px;
  float: left;
}
.mainBox .left li {
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.mainBox .left li div {
  display: flex;
}
.mainBox .left li div div {
  display: flex;
}
.mainBox .left li div .icon {
  margin-left: 10px;
}
.mainBox .left li div .iconName {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  text-align: center;
}
.mainBox .left li div .iconName p {
  color: #fefefe;
}
.mainBox .left .pc,
.mainBox .left .phone,
.mainBox .left .app {
  width: 190px;
  height: 80px;
  line-break: 80px;
  background-color: #f24854;
}
.mainBox .left .reg,
.mainBox .left .giveMoney {
  width: 190px;
  height: 53px;
  line-height: 30px;
}
.mainBox .left .peopleHelp {
  width: 190px;
  height: 60px;
}
.mainBox .left .wyVip {
  width: 190px;
  height: 64px;
}
.mainBox .left .pc {
  border-bottom: 1px solid #d43742;
}
.mainBox .left .pc .icon {
  position: relative;
}
.mainBox .left .pc .icon .bigIcon {
  width: 50px;
  height: 44px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -380px -221px;
}
.mainBox .left .pc .icon .litIcon {
  width: 22px;
  height: 24px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -54px -371px;
  position: absolute;
  left: 14px;
  top: 5px;
  transition: 0.5s linear;
}
.mainBox .left .pc:hover .litIcon {
  transform: translateY(15px);
  transition: all ease-out 0.3s;
}
.mainBox .left .phone {
  border-bottom: 1px solid #d43742;
}
.mainBox .left .phone .icon {
  position: relative;
  margin-left: 20px;
}
.mainBox .left .phone .icon .bigIcon {
  width: 35px;
  height: 47px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -380px -173px;
}
.mainBox .left .phone .icon .litIcon {
  width: 22px;
  height: 24px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -54px -371px;
  position: absolute;
  left: 6px;
  top: 14px;
}
.mainBox .left .phone .smallWord {
  font-size: 12px;
  color: #f7b0b4;
}
.mainBox .left .phone:hover .litIcon {
  transform: translateY(15px);
  transition: all ease-out 0.3s;
}
.mainBox .left .app .icon {
  margin-left: 16px;
}
.mainBox .left .app .bigIcon {
  width: 41px;
  height: 41px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -93px -328px;
}
.mainBox .left .app:hover .bigIcon {
  transform: translateY(20px);
  transition: all ease-out 0.3s;
}
.mainBox .left .reg:hover .bigIcon {
  transform: translateY(20px);
  transition: all ease-out 0.3s;
}
.mainBox .left .giveMoney:hover .bigIcon {
  transform: translateY(20px);
  transition: all ease-out 0.3s;
}
.mainBox .left .peopleHelp:hover .bigIcon {
  transform: translateY(20px);
  transition: all ease-out 0.3s;
}
.mainBox .left .wyVip:hover .bigIcon {
  transform: translateY(20px);
  transition: all ease-out 0.3s;
}
.mainBox .left .reg {
  background-color: #3b8bed;
  border-bottom: 1px solid #0d838b;
}
.mainBox .left .reg .icon {
  margin-left: 30px;
}
.mainBox .left .reg .bigWord {
  font-size: 14px;
}
.mainBox .left .reg .bigIcon {
  width: 25px;
  height: 33px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -415px -174px;
}
.mainBox .left .giveMoney {
  background-color: #3b8bed;
  border-bottom: 1px solid #0d838b;
}
.mainBox .left .giveMoney .icon {
  margin-left: 30px;
}
.mainBox .left .giveMoney .bigWord {
  font-size: 14px;
}
.mainBox .left .giveMoney .bigIcon {
  width: 30px;
  height: 30px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -316px -199px;
}
.mainBox .left .peopleHelp {
  background-color: #2973ce;
}
.mainBox .left .peopleHelp .icon {
  margin-left: 30px;
}
.mainBox .left .peopleHelp .bigWord {
  font-size: 14px;
}
.mainBox .left .peopleHelp .phoneNumer {
  font-size: 14px;
}
.mainBox .left .peopleHelp .bigIcon {
  width: 24px;
  height: 27px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -400px -328px;
}
.mainBox .left .wyVip {
  width: 190px;
  height: 65px;
  background: url(../images/hy_bg_4433a14.webp);
  background-size: cover;
}
.mainBox .left .wyVip .bigIcon {
  width: 31px;
  height: 40px;
  background: url(../images/hy_icon_4a1ee4a.png) no-repeat;
  background-size: cover;
}
.mainBox .left .wyVip .bigWord {
  font-size: 12px;
  color: #ffe2a3;
  margin-bottom: 10px;
}
.mainBox .left .wyVip .look {
  width: 54px;
  height: 17px;
  background: url(../images/hy_btn1_68ac751.png) no-repeat;
  background-size: cover;
}
.mainBox .banner {
  width: 462px;
  height: 470px;
  margin: 0 20px;
  float: left;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.mainBox .banner .channelBtn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
}
.mainBox .banner .channelBtn a {
  width: 60px;
  height: 40px;
  float: left;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-color: #333;
}
.mainBox .banner .channelBtn a.current {
  background-color: #3b8bed;
}
.mainBox .banner .bannerBox .banner1 .ban1 {
  width: 462px;
  height: 460px;
  position: relative;
}
.mainBox .banner .bannerBox .banner1 .ban1 li {
  width: 462px;
  height: 460px;
  position: absolute;
}
.mainBox .banner .bannerBox .banner1 .ban1 li img {
  width: 100%;
  height: 100%;
}
.mainBox .banner .bannerBox .banner1 .changeBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0.8);
}
.mainBox .banner .bannerBox .banner1 .changeBtn span {
  float: left;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  width: 92.4px;
  height: 60px;
  text-align: center;
}
.mainBox .banner .bannerBox .banner1 .changeBtn span.current {
  background-color: #3b8bed;
}
.mainBox .banner .bannerBox .banner2 {
  display: none;
}
.mainBox .banner .bannerBox .banner2 .ban1 {
  width: 462px;
  height: 460px;
  position: relative;
}
.mainBox .banner .bannerBox .banner2 .ban1 li {
  width: 462px;
  height: 460px;
  position: absolute;
}
.mainBox .banner .bannerBox .banner2 .ban1 li img {
  width: 100%;
  height: 100%;
}
.mainBox .banner .bannerBox .banner2 .changeBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0.8);
  padding: 0 28px;
  box-sizing: border-box;
  width: 462px;
}
.mainBox .banner .bannerBox .banner2 .changeBtn span {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 14px;
  width: 135px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.mainBox .banner .bannerBox .banner2 .changeBtn span.current {
  background-color: #3b8bed;
}
.mainBox .right {
  width: 478px;
  height: 470px;
  float: left;
  background: #fff;
  position: relative;
}
.mainBox .right .right-top {
  width: 478px;
  height: 60px;
  position: relative;
  cursor: pointer;
}
.mainBox .right .right-top i {
  display: block;
  width: 75px;
  height: 3px;
  background: #f24854;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.mainBox .right .right-top span {
  float: left;
  width: 75px;
  height: 60px;
  font-size: 16px;
  text-align: center;
  line-height: 60px;
}
.mainBox .right .right-top span:hover {
  color: #f24854;
}
.mainBox .right .slideBox {
  padding: 20px;
  box-sizing: border-box;
}
.mainBox .right .slideBox .more {
  position: absolute;
  right: 0;
  top: 0;
  width: 75px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  border-top: none;
}
.mainBox .right .slideBox .more .icon-arrow-sl {
  font-size: 12px;
}
.mainBox .right .slideBox .slideWrapper {
  position: relative;
}
.mainBox .right .slideBox .slideWrapper .slide-item {
  height: 390px;
  color: #3c3c3c;
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-top {
  height: 140px;
  border-bottom: 1px dashed #ccc;
  display: flex;
  cursor: pointer;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-top img {
  width: 150px;
  height: 113px;
  margin-right: 25px;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-top .content {
  overflow: hidden;
  flex: 1;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-top .content h3 {
  margin-bottom: 15px;
  color: #f24854;
  font-size: 16px;
  font-weight: normal;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-top .content p {
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-all;
  white-space: normal;
  line-height: 25px;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-bottom {
  margin-top: 20px;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-bottom li {
  height: 34px;
  font-size: 14px;
  line-height: 34px;
  cursor: pointer;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-bottom li span:first-child {
  float: left;
  width: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-bottom li span:last-child {
  float: right;
  color: #b8b8b9;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-bottom li span.red {
  color: #f24854;
}
.mainBox .right .slideBox .slideWrapper .slide-item .item-bottom li:hover span {
  color: #f24854;
}
.main_two {
  width: 1170px;
  height: 380px;
  background: gold;
  overflow: hidden;
}
