html,
body {
  min-width: 1260px;
  background: #f5f7f9;
  position: relative;
}
.topBar {
  min-width: 1226px;
  position: relative;
  z-index: 9999;
  min-width: 1260px;
  height: 55px;
  line-height: 24px;
  border-bottom: #ccc 1px solid;
}
.topBar .topBar-main {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 54px;
  margin: auto;
  color: #fff;
}
.topBar .topBar-main .menu {
  display: inline-block;
  width: 179px;
  height: 54px;
  overflow: hidden;
  background-color: #cf1132;
  color: #fff;
  text-align: center;
  line-height: 54px;
}
.topBar .topBar-main .menu i {
  display: inline-block;
  width: 25px;
  height: 11px;
  background: url(../images/sprite-1.png) -90px -306px no-repeat;
  margin-right: 8px;
}
.topBar .menu:hover .topBar-menu {
  display: block;
  height: 500px;
  transform: all 0.5s linear;
}
.topBar .topBar-logo {
  width: 133px;
  height: 44px;
  display: inline-block;
  background: url(../images/wy_logo.png) no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  margin-top: 5px;
}
.topBar .topBar-freeclass {
  width: 138px;
  height: 54px;
  border-left: 1px solid #dadada;
  text-align: center;
  line-height: 54px;
  position: absolute;
  top: 0;
  right: 130px;
  overflow: hidden;
  color: #333;
}
.topBar .topBar-hotRecommend {
  width: 129px;
  height: 55px;
  width: 138px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  color: #333;
  text-align: center;
  line-height: 55px;
  border-left: 1px solid #dadada;
}
.topBar .topBar-hotRecommend i {
  display: inline-block;
  width: 17px;
  height: 20px;
  background: url(../images/sprite-1.png) -81px -343px no-repeat;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.topBar .topBar-hotRecommend:hover i {
  background: url(../images/sprite-1.png) -98px -343px no-repeat;
}
.topBar .topBar-freeclass:hover,
.topBar .topBar-hotRecommend:hover {
  color: #cf1132;
}
.topBar .topBar-menu {
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  top: 55px;
  left: 0;
  overflow: hidden;
  transition: height 0.8s ease;
  height: 0;
}
.topBar .topBar-menu .topBar-menu-main {
  position: absolute;
  top: 0;
  left: 30px;
  height: 500px;
}
.topBar .topBar-menu .topBar-menu-main .topMenu-nav {
  height: 50px;
  line-height: 50px;
  background: #c4c1c1;
  position: absolute;
  top: 0;
  left: 0;
}
.topBar .topBar-menu .topBar-menu-main .topMenu-nav li {
  position: absolute;
  top: 0;
  color: #af0925;
  font-weight: 800;
  font-size: 14px;
  width: 110px;
  background: #ece4e4;
  border-right: 1px solid #eee;
  vertical-align: top;
  text-indent: 20px;
}
.topBar .topBar-menu .topBar-menu-main .topMenu-nav .cg {
  left: 0;
  width: 299px;
}
.topBar .topBar-menu .topBar-menu-main .topMenu-nav .mg {
  left: 300px;
  width: 829px;
}
.topBar .topBar-menu .topBar-menu-main .topMenu-nav .gc {
  left: 1130px;
  width: 164px;
  border-right: 0;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 450px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll h4 {
  height: 30px;
  line-height: 30px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll li {
  position: absolute;
  top: 0;
  height: 450px;
  box-sizing: border-box;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .No1 {
  display: inline-block;
  width: 18px;
  height: 9px;
  background: url(../images/sprite-1.png) -97px -276px no-repeat;
  position: absolute;
  top: 5px;
  right: 20px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .hot {
  display: inline-block;
  width: 18px;
  height: 9px;
  background: url(../images/sprite-1.png) -97px -152px no-repeat;
  position: absolute;
  top: 5px;
  right: 20px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .new {
  display: inline-block;
  width: 18px;
  height: 9px;
  background: url(../images/sprite-1.png) -97px -214px no-repeat;
  position: absolute;
  top: 5px;
  right: 50px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .client-game {
  width: 300px;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  left: 0;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .client-game .cosplay {
  float: left;
  width: 150px;
  padding-left: 20px;
  box-sizing: border-box;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .client-game .Athletics-leisure {
  float: left;
  width: 149px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .client-game .moreClient {
  position: absolute;
  top: 120px;
  right: 0;
  display: block;
  height: 110px;
  width: 30px;
  background: #cf1132;
  color: #fff;
  line-height: 16px;
  box-sizing: border-box;
  padding: 5px 10px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .client-game .moreClient:hover {
  opacity: 0.8;
  color: #fff;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .client-game a {
  display: block;
  height: 22px;
  line-height: 22px;
  color: #333;
  position: relative;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .client-game a:hover {
  color: #af0925;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game {
  width: 830px;
  left: 300px;
  position: relative;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game div {
  position: absolute;
  top: 0;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .moreMobile {
  position: absolute;
  top: 120px;
  right: 0;
  display: block;
  height: 110px;
  width: 30px;
  background: #cf1132;
  color: #fff;
  line-height: 16px;
  box-sizing: border-box;
  padding: 5px 10px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .moreMobile:hover {
  opacity: 0.8;
  color: #fff;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .Popular-recommendation {
  left: 0;
  width: 150px;
  height: 450px;
  border-right: 1px solid #dadada;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .Popular-recommendation a {
  display: block;
  height: 22px;
  line-height: 22px;
  color: #333;
  position: relative;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .Popular-recommendation a .hot {
  right: 0;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .Popular-recommendation a:hover {
  color: #af0925;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation {
  width: 800px;
  height: 450px;
  left: 151px;
  position: relative;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation div {
  top: 30px;
  position: absolute;
  width: 150px;
  height: 450px;
  padding-left: 10px;
  box-sizing: border-box;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation .colum1 {
  top: 0;
  left: 0;
  padding-left: 20px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation .colum2 {
  left: 150px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation .colum3 {
  left: 290px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation .colum4 {
  left: 410px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation .colum5 {
  left: 530px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation a {
  display: block;
  height: 22px;
  line-height: 22px;
  color: #333;
  position: relative;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation a .new {
  position: absolute;
  top: 5px;
  right: 10px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .mobile-game .newGame-recommendation a:hover {
  color: #af0925;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .Game-assist {
  left: 1130px;
  width: 166px;
  padding-top: 10px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .Game-assist a {
  display: block;
  height: 22px;
  line-height: 22px;
  color: #333;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .Game-assist a .hot,
.topBar .topBar-menu .topBar-menu-main .topMenuAll .Game-assist a .new {
  right: 20px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .Game-assist .a-logo {
  color: #af0925;
  position: relative;
  text-indent: 25px;
  line-height: 28px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .Game-assist .a-logo .logo {
  width: 24px;
  height: 18px;
  background: url(../images/sprite-1.png) 0 -338px no-repeat;
  position: absolute;
  top: 5px;
  left: 20px;
}
.topBar .topBar-menu .topBar-menu-main .topMenuAll .Game-assist a:hover {
  color: #af0925;
}
.topBar .topBar-menu:hover {
  height: 500px;
}
.topBar .topBar-commend {
  height: 0;
  background: #fff;
  position: absolute;
  top: 55px;
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1000;
  transition: all 1s;
}
.topBar .topBar-commend .commend-center {
  width: 1109px;
  margin: 50px 120px;
}
.topBar .topBar-commend .commend-center .commend-top li {
  width: 170px;
  height: 240px;
  background: #000;
  float: left;
  margin-right: 17px;
}
.topBar .topBar-commend .commend-center .commend-top li a {
  width: 170px;
  height: 240px;
  display: block;
}
.topBar .topBar-commend .commend-center .commend-top li a img {
  width: 100%;
  height: 100%;
}
.topBar .topBar-commend .commend-center .commend-top .nobR {
  margin-right: 0;
}
.topBar .topBar-commend .commend-center .commend-myfoot {
  margin-top: 20px;
  width: 100%;
}
.topBar .topBar-commend .commend-center .commend-myfoot span {
  float: left;
  color: #af0925;
  border-left: 1px solid #cf1132;
  padding-left: 5px;
  box-sizing: border-box;
}
.topBar .topBar-commend .commend-center .commend-myfoot a {
  float: left;
  margin: 0 5px;
  color: #666;
}
.topBar .topBar-commend .commend-center .commend-bottom {
  margin-left: 340px;
}
.topBar .topBar-commend .commend-center .commend-bottom a {
  float: left;
  border: 1px solid #999;
  border-radius: 4px;
  margin: 0 30px;
  text-align: center;
  padding: 2px 15px;
  color: #666;
  overflow: hidden;
  vertical-align: middle;
}
.topBar .topBar-commend .commend-center .commend-bottom a i {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 6px;
  background: url(../images/sprite-1.png) no-repeat;
}
.topBar .topBar-commend .commend-center .commend-bottom a .count {
  background-position: 0 -443px;
}
.topBar .topBar-commend .commend-center .commend-bottom a .money {
  background-position: -19px -443px;
}
.topBar .topBar-commend .commend-center .commend-bottom a .help {
  background-position: -36px -443px;
}
.topBar .topBar-commend.topBar-commend-hover {
  height: 380px;
  transition: all 1s linear;
}
/* 背景图 */
.wrapper {
  width: 100%;
  height: 1080px;
  overflow: hidden;
  position: relative;
}
.wrapper .wrapper-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.wrapper .wrapper-bg .head-video {
  position: absolute;
  left: 50%;
  margin-left: -961px;
  width: 1920px;
  height: 1080px;
  top: 0;
  z-index: 1;
  overflow: hidden;
}
.wrapper .wrapper-bg .head-video video {
  object-fit: contain;
}
/* logo导航 */
.headBar {
  width: 1170px;
  height: 350px;
  z-index: 666;
  margin: 0 auto;
  position: relative;
  top: -1042px;
}
.headBar h1 {
  float: left;
  margin-top: -20px;
}
.headBar h1 a {
  display: inline-block;
  width: 200px;
  height: 98px;
  background: url(../images/200.webp) center center no-repeat;
  background-size: cover;
}
.headBar .news-lists {
  float: left;
}
.headBar .news-lists li {
  float: left;
  width: 90px;
  margin-right: 8px;
}
.headBar .news-lists li a {
  display: inline-block;
  color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  padding: 3px 8px;
  position: relative;
}
.headBar .news-lists li a .hot {
  width: 11px;
  height: 11px;
  display: inline-block;
  background: url(../images/Hot.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  right: -7px;
  top: 7px;
}
.headBar .news-lists li a:first-child {
  font-weight: 800;
}
.headBar .news-lists .first {
  width: 54px;
}
.cloud {
  position: absolute;
  width: 101px;
  height: 289px;
  top: 96px;
  left: 50%;
  margin-left: 580px;
  z-index: 8;
  background: url(../images/kltn2_2e5cae0.png) no-repeat;
}
.cloud a {
  display: block;
  width: 101px;
  height: 289px;
}
/* 主要内容区域 */
.mainBox {
  width: 1170px;
  height: 470px;
  background: lightblue;
  margin: 0 auto;
  z-index: 100;
  position: relative;
  top: -1070px;
}
.mainBox li {
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.mainBox li div {
  display: flex;
}
.mainBox li div div {
  display: flex;
}
.mainBox li div .icon {
  margin-left: 10px;
}
.mainBox li div .iconName {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  text-align: center;
}
.mainBox li div .iconName p {
  color: #fefefe;
}
.mainBox .pc {
  border-bottom: 1px solid #d43742;
}
.mainBox .pc .icon {
  position: relative;
}
.mainBox .pc .icon .bigIcon {
  width: 50px;
  height: 44px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -380px -221px;
}
.mainBox .pc .icon .litIcon {
  width: 22px;
  height: 24px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -54px -371px;
  position: absolute;
  left: 14px;
  top: 5px;
}
.mainBox .phone {
  border-bottom: 1px solid #d43742;
}
.mainBox .phone .icon {
  position: relative;
  margin-left: 20px;
}
.mainBox .phone .icon .bigIcon {
  width: 35px;
  height: 47px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -380px -173px;
}
.mainBox .phone .icon .litIcon {
  width: 22px;
  height: 24px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -54px -371px;
  position: absolute;
  left: 6px;
  top: 14px;
}
.mainBox .phone .smallWord {
  font-size: 12px;
  color: #f7b0b4;
}
.mainBox .app .icon {
  margin-left: 16px;
}
.mainBox .app .bigIcon {
  width: 41px;
  height: 41px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -93px -328px;
}
.mainBox .reg {
  background-color: #3b8bed;
  border-bottom: 1px solid #0d838b;
}
.mainBox .reg .icon {
  margin-left: 30px;
}
.mainBox .reg .bigWord {
  font-size: 14px;
}
.mainBox .reg .bigIcon {
  width: 25px;
  height: 33px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -415px -174px;
}
.mainBox .giveMoney {
  background-color: #3b8bed;
  border-bottom: 1px solid #0d838b;
}
.mainBox .giveMoney .icon {
  margin-left: 30px;
}
.mainBox .giveMoney .bigWord {
  font-size: 14px;
}
.mainBox .giveMoney .bigIcon {
  width: 30px;
  height: 30px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -316px -199px;
}
.mainBox .peopleHelp {
  background-color: #2973ce;
}
.mainBox .peopleHelp .icon {
  margin-left: 30px;
}
.mainBox .peopleHelp .bigWord {
  font-size: 14px;
}
.mainBox .peopleHelp .phoneNumer {
  font-size: 14px;
}
.mainBox .peopleHelp .bigIcon {
  width: 24px;
  height: 27px;
  background: url(../images/spirit-2.png) no-repeat;
  background-position: -400px -328px;
}
.mainBox .wyVip {
  width: 190px;
  height: 60px;
  background: url(../images/hy_bg_4433a14.webp);
  background-size: cover;
}
.mainBox .wyVip .bigIcon {
  width: 31px;
  height: 40px;
  background: url(../images/hy_icon_4a1ee4a.png) no-repeat;
  background-size: cover;
}
.mainBox .wyVip .bigWord {
  font-size: 12px;
  color: #ffe2a3;
  margin-bottom: 10px;
}
.mainBox .wyVip .look {
  width: 54px;
  height: 17px;
  background: url(../images/hy_btn1_68ac751.png) no-repeat;
  background-size: cover;
}
.mainBox .left {
  width: 190px;
  height: 470px;
  float: left;
  background: olive;
}
.mainBox .left .pc,
.mainBox .left .phone,
.mainBox .left .app {
  width: 190px;
  height: 80px;
  line-break: 80px;
  background-color: #f24854;
}
.mainBox .left .reg,
.mainBox .left .giveMoney {
  width: 190px;
  height: 53px;
  line-height: 30px;
}
.mainBox .left .peopleHelp {
  width: 190px;
  height: 60px;
}
.mainBox .left .wyVip {
  width: 190px;
  height: 64px;
}
.mainBox .banner {
  width: 462px;
  height: 470px;
  margin: 0 20px;
  float: left;
  background: orangered;
}
.mainBox .right {
  width: 478px;
  height: 470px;
  float: left;
  background: palevioletred;
}
