html,
body {
  min-width: 1280px;
  background: #f5f7f9;
  position: relative;
  color: #666;
}
html a,
body a {
  color: #fff;
}
.topBar {
  min-width: 1226px;
  z-index: 9999;
  min-width: 1260px;
  height: 55px;
  background: lightcoral;
  line-height: 24px;
  border-bottom: #ccc 1px solid;
  position: relative;
}
.topBar .topBar-main {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 54px;
  margin: auto;
}
.topBar .topBar-main .menu {
  display: inline-block;
  width: 179px;
  height: 54px;
  overflow: hidden;
  background-color: #cf1132;
  text-align: center;
  line-height: 54px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
}
.topBar .topBar-main .menu .menuIcon {
  display: inline-block;
  width: 25px;
  height: 11px;
  background: url(../images/sprite-1.png) -90px -306px no-repeat;
  margin-right: 8px;
}
.topBar .topBar-main .menu .topBar-menuList {
  position: absolute;
  top: 100px;
  left: 0;
  width: 1226px;
  height: 500px;
  z-index: 999;
  background: lightsalmon;
}
.topBar .topBar-main .menu .topBar-menuList .topBar-menu-main {
  width: 100%;
  position: relative;
}
.topBar .topBar-main .menu .topBar-menuList .topBar-menu-main .topMenu-nav {
  height: 30px;
  line-height: 30px;
}
.topBar .topBar-main .topBar-logo {
  width: 133px;
  height: 44px;
  display: inline-block;
  background: url(../images/wy_logo.png) no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  margin-top: 5px;
}
.topBar .topBar-main .topBar-freeclass {
  width: 138px;
  height: 54px;
  border-left: 1px solid #dadada;
  text-align: center;
  line-height: 54px;
  position: absolute;
  top: 0;
  right: 130px;
  overflow: hidden;
  color: #333;
}
.topBar .topBar-main .topBar-hotRecommend {
  width: 129px;
  width: 138px;
  height: 54px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  color: #333;
  text-align: center;
  line-height: 54px;
  border-left: 1px solid #dadada;
}
.topBar .topBar-main .topBar-hotRecommend i {
  display: inline-block;
  width: 17px;
  height: 20px;
  background: url(../images/sprite-1.png) -81px -343px no-repeat;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.topBar .topBar-main .topBar-hotRecommend:hover i {
  background: url(../images/sprite-1.png) -98px -343px no-repeat;
}
.topBar .topBar-main .topBar-freeclass:hover,
.topBar .topBar-main .topBar-hotRecommend:hover {
  color: #cf1132;
}
