<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{name}}</h1>
        <input type="text" v-model="firstName">
        <input type="text" v-model="middleName">
        <input type="text" v-model="lastName">
        <h2>名字是:{{fullName}}</h2>
        <h2>计算属性名字是:{{setFullName}}</h2>
    </div>
</body>
</html>
<script src="../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            name:"珠峰",
            firstName:'珠峰',
            middleName:'世纪',
            lastName:'培训',
            fullName:'珠峰.世纪.培训'
        },
        computed:{
            setFullName(){
                return this.firstName +'.'+ this.middleName+'.'+this.lastName
            }
        },
        watch:{
            firstName(newN,oldN){
                this.fullName = newN+'.'+this.middleName+'.'+this.lastName
            },
            middleName(newN,oldN){
                this.fullName = this.firstName+'.'+newN+'.'+this.lastName
            },
            lastName(newN,oldN){
                this.fullName = this.firstName+'.'+this.middleName+'.'+newN
            }
        }
    })
</script>