* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.lt {
  float: left;
}
.rt {
  float: right;
}
header {
  background: #e62b2b;
  padding: 2.5vw;
  overflow: hidden;
}
header .logo_box {
  color: #fff;
  overflow: hidden;
  height: 10vw;
  line-height: 10vw;
  position: relative;
}
header .logo_box .icon_lg {
  font-size: 80px;
  display: inline-block;
  height: 10vw;
  line-height: 10vw;
}
header .logo_box .tab {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 13px;
  padding: 0 4vw;
  background: rgba(0, 0, 0, 0.2);
  height: 7vw;
  line-height: 7vw;
  border-radius: 7vw;
}
header .logo_box .tab .lit {
  color: #333;
  font-size: 12px;
}
header .logo_box .tool_box {
  font-size: 18px;
}
header .logo_box .tool_box .icon_user {
  margin: 0 4vw;
}
header nav {
  overflow: hidden;
}
header nav ul {
  overflow: hidden;
}
header nav ul li {
  float: left;
  width: 10vw;
  text-align: center;
  margin-bottom: 2vw;
  margin: 1vw 4vw 1vw 0;
}
header nav ul li a {
  color: #fff;
}
header nav ul li:nth-child(7n) {
  margin-right: 0;
}
.banner {
  padding: 3vw;
  height: 60vw;
}
.banner .swiper-pagination {
  text-align: right;
  color: #fff;
  padding-right: 5vw;
  box-sizing: border-box;
  font-size: 16px;
}
.banner .swiper-pagination span:nth-child(1) {
  font-size: 20px;
}
.banner .swiper-slide {
  overflow: hidden;
  height: 60vw;
  background: chocolate;
}
.banner .swiper-slide img {
  height: 100%;
}
.banner .swiper-slide p {
  position: relative;
  height: 10vw;
  line-height: 10vw;
  padding: 0 4vw;
  background: rgba(0, 0, 0, 0.3);
  top: -10vw;
  color: #fff;
}
.listBox .list {
  border-bottom: 1px solid #eee;
  display: flex;
  width: 94vw;
  margin: auto;
  padding: 3vw 0;
  position: relative;
  min-height: 20vw;
}
.listBox .list .textBox {
  flex: 1;
}
.listBox .list .textBox .commentBox {
  position: absolute;
  font-size: 13px;
  left: 2vw;
  bottom: 3vw;
  color: #b0b0b0;
}
.listBox .list .imgBox {
  width: 30vw;
  height: 20vw;
  overflow: hidden;
}
.listBox .list .imgBox img {
  width: 100%;
  height: 100%;
}
