.box{
    width: 800px;
    margin: 30px auto;
    /* overflow: hidden; */
    position: relative;
}
.img_box{
    overflow: hidden;
}
.img_box ul{
    width: 5400px;
    overflow: hidden;
    position: relative;
}
.img_box ul li{
    float: left;
    width: 800px;
    height: 500px;
    position: relative;
    overflow: hidden;
}
.img_box ul li img{
    width: 100%;
    height: 100%;
    position: relative;
}
.img_box ul li img{
    transition: all 0.5s;
}
.img_box ul li:hover img{
    transform: scale(1.2)
}
.img_box ul li .desc{
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,.5);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
}
.tip_box{
    position: absolute;
    bottom: -30px;
    right: 10px;
    height: 30px; 
    line-height: 30px;
    text-align: center;
}
.tip_box .tip{
    display: inline-block;
    width: 10px;
    height: 10px;
    background:rgb(221,76,75);;
    border-radius: 50%;
    cursor: pointer;
}
.tip_box .tip.current{
    background: darkgrey;
}
.btn_box{
    position: absolute;
    height: 0;
    top: 50%;
    margin-top: -35px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
}
.btn_box div{
    width: 40px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: rgba(228,130,130,.5);
    cursor: pointer;
    color: #fff;
}
.left_btn{
    float: left;
}
.right_btn{
    float: right;
}