body {
    background: #f2f5f6;
}

.mainBox {
    width: 960px;
    /* height: 1000px; */
    margin: 50px auto;
    /* margin-bottom: 0; */
    border: 1px solid #ccc;
}

.left-side {
    width: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: none;
    position: fixed;
    left: 80px;
    box-shadow: 0 0 20px 4px #ccc;
    top: 70px;
}

.left-side li {
    width: 80px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    color: #333;
}
.left-side li.current{
    /* background: #000; */
    color: blue;
}
.left-side li:last-child {
    border-bottom: none;
}

.left-side li:nth-child(odd) {
    background: #f6f6f6;
}

.left-side li:nth-child(even) {
    background: #fff;
}

.left-side li:hover {
    color: #ff552e;
}

.navBox {
    width: 100%;
    height: 472px;
    background: url(../img/斗鱼.webp) no-repeat center center;
    background-size: cover;
}

.navBar {
    width: 960px;
    height: 68px;
    margin: 0 auto;
    background: #fff;

}
.navBar a{
    float: left;
    margin:  0 10px;
    color: #999;
    font-weight: 400;
    font-size: 16px;
    height: 68px;
    line-height: 68px;
}
.navBar .logo{
    width: 76px;
    height: 40px;
    background: url(../img/timg.jpg) no-repeat center center;
    background-size: contain;
    margin-top: 14px;
}
.navBar .current{
    color: #ff552e;
}
.mainBoxIn{
    width: 960px;
}
.mainBoxIn div{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightcoral;
}
