.md{
    width: 1200px;
    margin: 0 auto;
}
.top{
    height: 100px;
    line-height: 100px;
    border: 1px solid #ccc;
    margin:10px 0;
}
.top span{
    float: left;
    margin-right: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}
.top .range{
    font-size: 18px;
    color: red;
    cursor: default;
}
#main{
    height: 600px;
    border: 1px solid #ccc;
}
#mian li{
    width: 200px;
    height: 340px;
    
    border: 1px solid #ccc;
    ma
}