/* *{
    margin: 0;padding: 0;list-style: none;
}
.md{
    width: 1200px;
    margin: 0 auto;
}
img{
    height: 100%;
}
.md header{
    border:1px solid #ccc;
    height: 50px;
    line-height: 50px;
}
.md header span{
    padding:  0 20px;
    cursor: pointer;
    user-select: none;
}
.md header span:first-child{
    cursor: default;
}
#box{
    overflow: hidden;
}
#box li{
    float: left;
    width:200px;
    height: 340px;
    margin:0 50px 50px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}
#box li:hover{
    border-color: red;
}
#box li imgBox{
    height: 180px;
    width: 180px;
    margin:  20px auto ;
}
#box li .til{
    color: #333;
    text-align: center;
    font-size: 14px;
}
#box li .desc{
    text-align:center;
    font-size: 15px;
    margin: 10px;
}
#box li .price{
    text-align:center;
    font-size: 15px;
    color: red;
}
#box li .botBtn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}
#box li .botBtn div{
    flex:1;
    border-top:1px solid #ccc;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
#box li .botBtn div:first-child{
    border-right: 1px solid #ccc;
} */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.md {
    width: 1200px;
    margin: 0 auto;
}

.md header {
    border: 1px solid #cccccc;
    height: 50px;
    line-height: 50px;
}

.md header span {
    padding: 0 20px;
    cursor: pointer;
    user-select: none;
}

img {
    height: 100%;
}

/* 三角形 */
.md header span:first-child {
    cursor: default;
}

#box {
    overflow: hidden;
}

#box li {
    position: relative;
    float: left;
    width: 200px;
    height: 340px;
    margin-right: 50px;
    margin-bottom: 50px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
}

#box li:hover {
    border-color: pink
}

#box li .imgBox {
    height: 180px;
    width: 180px;
    margin: 30px auto 15px;
}

#box li .til {
    color: #000000;
    text-align: center;
    font-size: 14px;
}

#box li .desc {
    text-align: center;
    font-size: 15px;
    margin: 10px;
}

#box li .price {
    text-align: center;
    font-size: 15px;
    color: skyblue;
}
#box li:nth-child(5){
    margin-right: 0;
}
#box li .botBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

#box li .botBox div {
    flex: 1;
    border-top: 1px solid #cccccc;
    height: 35px;
    line-height: 35px;
    text-align: center
}

#box li .botBox div:first-child {
    border-right: 1px solid #cccccc
}